

body{
    background-color: #b8d8d8;
}
.container{
    background-color: #6C9D9F;
    position: absolute;
    min-height: 500px;
    max-height: auto;
    width: 700px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
}

.conteudo {
    position:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.textarea{
    border-radius: 10%;
    resize: none;
    text-indent: 10px;
    padding-top: 10px;
    height: 30px;
    outline: 0;
    border-radius: 28px 28px 28px 28px / 30px 30px 30px 30px;
    vertical-align:middle;
}

.under{
    align-items: center;
    text-align: center;
}

#posts{
    margin-bottom: 15px;
    margin-top: -15px;
}

#posts>div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    text-align: center;
}

.options {
    display: flex;
    gap: 25px;
}

.send{
    cursor:pointer;
    margin: 10px;
    margin-top: 10px;
}

i {
    cursor: pointer;
}

footer{
    position: fixed;
    bottom:0;
    left:0;
    height:50px;
    background-color: #4f6367;
    width: 100%;
}